
*.aux

*.aux

Appendices.aux

Chapter4.aux

Chapter5.aux

Chapter6.aux

Chapter7.aux

Main.out

Main.lot

Main.log

Main.lof

Main.aux

Conclusions.aux

Main.synctex.gz

Main.toc

Chapter2.aux

Chapter3.aux

*.xlsx

*.xlsx

*.csv
